@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


:root {
    --main-color:#11458A;
    --sub-color:#12528e;
    --white:#fff;
    --border:.1rem solid rgba(220, 198, 156, .3);
  }
  
  * {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  
  *::selection {
    background: var(--main-color);
    color: #fff;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

 
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.842);
  }
  
  html::-webkit-scrollbar-thumb {
    background: #393f3b;
    border-radius: 5rem;
  }

 
  .btn{
	display: inline-block;
	padding:.8rem 3rem;
	border:.2rem solid var(--main-color);
	color:var(--main-color);
	cursor: pointer;
	font-size: 2rem;
	border-radius: .5rem;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-top: 1rem;
  }
  
  .btn::before{
	content: '';
	position: absolute;
	top:0; right: 0;
	width:0%;
	height:100%;
	background:var(--sub-color);
	transition: .3s linear;
	z-index: -1;
  }
  
  .btn:hover::before{
	width:100%;
	left: 0;
  }

  .btn:hover{
	color:#fff;
  }
  
  




:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.v-center{
	align-items: center;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
}

/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:10px;
	position: fixed ;
	justify-content: space-between;
	background-color: var(--white);
    box-shadow: 0rem .5rem  1rem rgba(0,0,0,0.2);
}




.header .logo img{
	height: 4rem;
	text-decoration: none;
	margin-left: -5.5rem;
}

 

 /* .header .item-right{
	flex:0 0 70%;
	display: flex;
	justify-content: flex-end;

}  */
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}



@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 84%;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
	font-size: 16px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#ea4636;
}

.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
   
}

.mobile-menu-trigger{
    border: .3rem solid black;
    padding: .5rem;
}

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	

	.header .menu{
		position: fixed;
		width: 80%;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}




.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 6rem;
    padding: 6rem  0rem 0rem 8%;

}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    flex: 1 1 40rem;
    justify-content: center;
    align-items: center;
    
}

.main-container .content .contenthead h1{
    font-size: 7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: .5rem 1rem 1rem rgb(216, 214, 214);
    margin-bottom: 5rem;
    margin-left: 7rem;
}

.main-container p , .container2 p , .container3 p  , .container4 p , .container5 p{
    font-size: 1.7rem; 
    margin-bottom: 1rem;
    align-items: justify;
    line-height: 2.5rem;
}

.main-container .images {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1 40rem;
}


.main-container .images img{
    width: 35rem;
    height: 30rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    object-fit: cover;
}

.main-container .images .img1{
    margin-left: 5rem;
}



.container2{
    background-color: #eee;
    margin-top: 7rem;

}
.moto{
    width: 84%;
    margin: 0 auto;
    padding: 7rem 0rem;
}

.head h1{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: .5rem 1rem 1rem rgb(216, 214, 214);
    margin-bottom: 2rem;
}


.container3{
    margin-top: 4rem;

}

.vision{
    width: 84%;
    padding: 3rem 0rem;

    margin: 0 auto;
}



.container4{
    background-color: #eee;
    margin-top: 7rem;
}



.story{
    width: 84%;
    margin: 0 auto;
    padding: 7rem 0rem;
}



.container5{
    margin-top: 4rem;
}

.success-journey{
    width: 84%;
    margin: 0 auto;
    padding: 3rem 0rem;
}




.success-journey-content{
    display: flex;
    justify-content: space-around;
    width: 84%;
    margin: 0 auto;
    
}



.success-journey-content li{
    font-size: 1.7rem; 
    align-items: justify;
    line-height: 2.5rem;
}


.success-journey-content .line{
    width: .2rem;
    height: 15rem;
    background-color: black;
    justify-content: center;
    margin-left: .9rem;
    margin-top: -2rem;
}

.success-journey-content i{
    font-size: 2rem;
}

.success-bar{
    display: flex;
    flex-direction: column;
    top: 2rem;
    color: var(--main-color);
}

.journey-left .success-content{
    justify-content: right;
    text-align: right;

}

.contactbox .btn:hover a{
    color: var(--main-color);
}

.journey-left li {
    list-style-type: none;
}


.journey-bar{
    margin: 0rem 3rem;
}
.success-content h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 2.2rem;
    font-family: 'poppins';
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.hi-1{
    margin-top: 15rem;
}

.hi-2{
    margin-top: 16.5rem;
}
.hi-3{
    margin-top: 16.5rem;
}

.hi-4{
    margin-top: 0rem;
}
.hi-5{
    margin-top: 16.5rem;
}
.hi-6{
    margin-top: 16.5rem;
}


  
.logocontainer{
    min-height: 150px;
    width: 100%;
    place-items: center;
    max-width: 100%;
}

.logo-slider{
    height: 120px;
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.logo-slider-track{
    display: flex;
    width: calc(100px*14);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px*7));
    }
}


.logocontainer{
    margin-bottom: 4rem;
    
    margin-top: 5rem;
}
.logo-slide {
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    overflow: hidden;
}

.logocontainer img{
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.logocontainer img:hover{
    transform: translateZ(20px);
}

.logo-slider::before,
.logo-slider::after {
    background: linear-gradient(to right , rgba(255, 255, 255 ,1) 0% , rgba(255, 255, 255, 0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.logo-slider::before{
    left: 0;
    top: 0;
}
.logo-slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg) ;
}



.team-heading .head{
    margin: 0 auto;
}

.team-heading h2{
    font-size: 2rem;
}

.container-6{
    width: 84%;
    margin: 0 auto;
}



.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: 5rem;
  }
  
  .review .box-container .box{
    text-align: center;
    border:1px solid rgb(255, 255, 255);
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex:1 1 30rem;
    /* background:#eee; */
    margin-top: 6rem;
    justify-content: baseline;
  }
  
  .review .box-container .box img{
    height: 20rem;
    width:20rem;
    border-radius: 3rem 0rem 3rem 0rem;
    /* border-radius: 50%; */
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.3);
    border:5px solid #eee;
    object-fit: cover;
    margin-bottom: 2rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
   
  }
  
  .review .box-container .box h2{
    font-size: 2rem;
    color:rgb(9, 9, 9);
    margin-top: 1rem;
    justify-content: baseline;
  }

  .review .box-container .box h3{
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
  
  
  .review .box-container .box p{
    font-size: 1.5rem;
    color:rgb(3, 3, 3);
    padding:1rem 0;
    text-align: justify;
    justify-content: baseline;
  }


  .social-media{
    width: 84%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 5rem;

  }

  
  .social-media h2{
    font-size: 3rem;
    color:rgb(9, 9, 9);
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    justify-content: baseline;
  }

  .social-media h3{
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 2.5rem;
  }

  .social-media .icon{
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: .5rem solid #eee;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .8rem;
    margin-left: 2rem;
    border-radius: 1rem 0 1rem 0;
  }

 .social-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
 }


 
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



  
@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px) {
 
    
    html {
        font-size: 57%;
  
 }
}
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 


    .reviews {
        margin-bottom: 0%;
    }

 


    .main-container .images .img1 {
        margin-left: 5rem;
        height: 12rem;
        width: auto;
    }


    .social-content{
        margin-top: 0rem;
    }

    .main-container .content .contenthead h1 {
        font-size: 5rem;
        margin-bottom: 0rem;
        margin-left: -4rem;
        margin-top: 3rem;
    }
    


    .main-container .images .img2 img {
        height: 30rem;
        width: auto;
    }
    .main-container .images .img1 img {
        display: none;
    }

    .success-journey-content .line {
        height: 33rem;
    }

    .hi-1{
        margin-top: 33rem;
    }
    .hi-2 {
        margin-top: 33.5rem;
    }

    .hi-3 {
        margin-top: 34.5rem;
    }

    .hi-5 {
        margin-top: 34.5rem;
    }

    .hi-6 {
        margin-top: 34.5rem;
    }

    .container2{
        margin-top: -6rem;
    }

   
    

	
 }



